projects/skill-flow/outputs/evaluation/sk-skillflow-inject-local-gpt4.1-medium-20260510-130915/shock-analysis-supply__fAGcptd/agent/skills/task-generator/references/power_automate_flow.json
{"name":"48f553af-0182-4e73-9480-1a9c1d8d0042","id":"/providers/Microsoft.Flow/flows/48f553af-0182-4e73-9480-1a9c1d8d0042","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Engagement Automation Workflow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ba75010b-b32a-47c5-b6f0-5239e305e0a1","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-12-04T15:11:15.5584432Z","connectionKeySavedTimeKey":"2025-12-04T15:11:15.5584432Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"date":{"description":"Please enter or select a date (YYYY-MM-DD)","format":"date","title":"EngagementDate","type":"string","x-ms-content-hint":"DATE","x-ms-dynamically-added":true},"text":{"description":"Please enter your input","title":"CustomerName","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["date","text"]}}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@createArray(\r\n  json('{\"Title\":\"Schedule Internal Precall\",\"Due T- Days\":28}'),\r\n  json('{\"Title\":\"Execute Internal Precall\",\"Due T- Days\":21}'),\r\n  json('{\"Title\":\"Validate Agenda with ATU\",\"Due T- Days\":10}'),\r\n  json('{\"Title\":\"Validate Agenda with Customer\",\"Due T- Days\":7}'),\r\n  json('{\"Title\":\"Schedule Customer Precall\",\"Due T- Days\":20}'),\r\n  json('{\"Title\":\"Execute Customer Precall\",\"Due T- Days\":14}'),\r\n  json('{\"Title\":\"Schedule internal resources\",\"Due T- Days\":14}'),\r\n  json('{\"Title\":\"Confirm all Customer pre-work is completed\",\"Due T- Days\":3}'),\r\n  json('{\"Title\":\"Conduct MSFT Debrief\",\"Due T- Days\":-2}'),\r\n  json('{\"Title\":\"Send Satisfaction Survey to customer\",\"Due T- Days\":0}'),\r\n  json('{\"Title\":\"Share Engagement Materials with Customer\",\"Due T- Days\":-2}'),\r\n  json('{\"Title\":\"Draft Agenda\",\"Due T- Days\":20}'),\r\n  json('{\"Title\":\"Complete Engagement Close out form\",\"Due T- Days\":-3}'),\r\n  json('{\"Title\":\"Research customer\",\"Due T- Days\":22}'),\r\n  json('{\"Title\":\"Prep Demos\",\"Due T- Days\":7}')\r\n)"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"array","items":{"type":"object","properties":{"Title":{"type":"string"},"Due T- Days":{"type":"integer"}},"required":["Title","Due T- Days"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Run_a_prompt":{"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"844cabda-d2a7-4b23-8f84-e9f8684fd83f","item/requestv2/Engagement_20Date":"@triggerBody()?['date']","item/requestv2/T_2dminus_20Days":"@items('Apply_to_each')['Due T- Days']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Create_a_task":{"runAfter":{"Run_a_prompt":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/groupId":"b0470e0b-e3aa-433a-be31-d6afe1ae3ed9","body/planId":"_0OG6c-n_kCXIJl5ZruAB5UAHzUa","body/title":"@{triggerBody()?['text']} - @{items('Apply_to_each')['Title']}","body/bucketId":"@outputs('Create_a_bucket')?['body/id']","body/dueDateTime":"@outputs('Run_a_prompt')?['body/responsev2/predictionOutput/structuredOutput/result']","body/assignments":"brecol@microsoft.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V3"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_a_bucket":["Succeeded"]},"type":"Foreach"},"Create_a_bucket":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"body/name":"@{triggerBody()?['date']} - @{triggerBody()?['text']}","body/groupId":"b0470e0b-e3aa-433a-be31-d6afe1ae3ed9","body/planId":"_0OG6c-n_kCXIJl5ZruAB5UAHzUa"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateBucket_V2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-544fa6d6-a7c8-44ed-a8f4-316fc23d2218","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_planner":{"connectionName":"a97b0c2bcdf04755bbf9abd65d118a4b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified","apiName":"planner","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}